/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status

.DS_Store
.ruby-version
Gemfile.lock

# For Ctags
tags

# For Appraisals
gemfiles/*.gemfile.lock
gemfiles/.bundle/*
gemfiles/vendor/*
